h1 {
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    text-align: center;
}
td {
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    padding: 20px;
    width: 50%;
}
body {
    background-color: #121212;
}
table {
    width: 100%;
    margin: 100;
    /* border: 1px solid azure; */
}
.einheit {
    text-align: left;
}
.zahl {
    text-align: right;
}