h1 {
    font-size: 100px;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    /* border: 1px  solid blue; */
}
body {
    background-color: #121212;
    font-family: 'Courier New', monospace;
    color: azure;
    padding-bottom: 2%;
    padding-top: 2%;
    /* border: 1px  solid blue; */
}
p {
    font-size: 25px;
    margin-left: 18%;
    margin-right: 18%;
    /* border: 1px  solid blue; */
}
h2 {
    font-size: 40px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 150px;
    /* border: 1px  solid blue; */
}
button {
    /* border-color: azure; */
    border: 1px solid azure;
    color: azure;
    background: none;
    font-family: 'Courier New', monospace;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    transition-duration: 0.5s;
    margin-right: 18%;
    float: right;
}
button:hover {
    background-color: azure;
    color: #121212;
}
.footer {
    text-align: center;
    margin-top: 10%;
}
a:link {
    color: azure;
}