h1 {
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150px;
    text-align: center;
}
td {
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    padding: 20px;
    /* width: 50%; */
}
body {
    /* background-color: #121212; */
    background-color: #000000;
}
table {
    width: 100%;
    /* margin: 100; */
    /* border: 1px solid azure; */
}
.einheit {
    text-align: left;
    /* width: max-content; */
}
.zahl {
    text-align: right;
    width: 50%;
}
p {
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    /* padding: 20px; */
    text-align: center;
}
.handy {
    display: none;
}
@media screen and (max-width: 1000px) {
    h1 {
        padding-top: 80px;
        font-size: 50px;
    }
    td {
        font-size: 23px;
        padding: 5px;
        padding-top: 20px;
    }
    p {
        font-size: 40px;
    }
    .zahl {
        width: 50%;
        font-size: 20px;
    }
    .comp {
        display: none;
    }
    .handy {
        display: block;
    }
}